{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">NEW TO THE CLAN? LETS GET YOU SIGNED UP!</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <form method="POST">
                  {{user_signup.hidden_tag()}}
                <h6 class="mb-0">First name</h6>

              </div>
              <div class="col-md-9 pe-5">
                  {{user_signup.firstname(class="form-control form-control-lg")}}
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Last name</h6>

              </div>
              <div class="col-md-9 pe-5">
                  {{user_signup.lastname(class="form-control form-control-lg")}}
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Email address</h6>

              </div>
              <div class="col-md-9 pe-5">
                  {{user_signup.email_address(class="form-control form-control-lg", placeholder="example@example.com")}}
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Password</h6>

              </div>
              <div class="col-md-9 pe-5">
                  {{user_signup.password(class="form-control form-control-lg")}}
              </div>
            </div>

            <hr class="mx-n3">

            
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Confirm Password</h6>

              </div>
              <div class="col-md-9 pe-5">
                  {{user_signup.confirm_password(class="form-control form-control-lg")}}
              </div>
            </div>
        

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
            </div>

            <div class="px-5 py-4">
              {{user_signup.submit(class="btn btn-primary btn-lg", value='Sign up')}}
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}